# ---------- Instrumenter options ---------------
a3t.android.jar = libs/android-14.jar
a3t.out.jar = instrumented.jar
a3t.lib.jars = jars/a3t_symbolic.jar:jars/a3t_stubs.jar:jars/a3t_models.jar:libs/core.jar:libs/ext.jar:libs/junit.jar:libs/bouncycastle.jar
a3t.inputmeths.file = inputs.dat
a3t.modelmeths.file = models.dat
a3t.out.dir = out
a3t.sdk.dir = out
a3t.rw.kind = id_field_write

a3t.whiteflds.file = 
a3t.blackflds.file = 
a3t.whitemeths.file = 
a3t.instrflds.all = 

# ---------- Explorer options -------------------
# APK file to scan. If null, cli parameter is used. Default: null
a3t.filename = null

# File name of monkey script (not needed atm). Default: null
a3t.monkey = monkey_script.txt

# Package name of APK file. TODO: Not needed, get it programmatically, remove.
a3t.pkg = 

# Main activity of APK file. TODO: Not needed, get it programmatically, remove.
a3t.mainact = 

# Path to Z3 binary
env.Z3_BIN = /opt/z3/bin/z3

# Maximum number of iterations. Default: 1000
a3t.max.iters = 1000

# Output dir. Default: ./results
a3t.results.dir = ./results/

# TCP port of Qemu. Default: 5554
a3t.port = 5554

# Other stuff
a3t.actargs = 
a3t.userwait = 4
a3t.K =2
a3t.indep=
a3t.readonly=
a3t.condmap.file = ./out/condmap.txt
a3t.writemap.file = ./out/writemap.txt
a3t.fieldsigs.file = ./out/fieldsigs.txt
env.A3T_DIR=
a3t.blackfields.file = null
a3t.restart=
a3t.prune.last=
a3t.diverge.threshold = 3
a3t.wildemus.threshold = 6
